<section class="jumbotron">
    <p-messages [(value)]="msgs"></p-messages>

    <div class="container">
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h1 class="h2">Upload Arquivo de Log</h1>

        </div>

        <div class="btn btn-outline-dark col-md-11" style="margin-bottom: 10px">

            <input type="file" name="file" id="file" class="inputfile" (change)="selecionaArquivo($event)" accept=".log" />
            <label for="file" [ngClass]="arquivo.size > 20000000 ? 'text-danger' : 'text-dark'">{{ labelUpload }}</label>
        </div>


        <button type="button" class="btn btn-dark col-md-1" pTooltip="Enviar Arquivo" tooltipPosition="top" style="margin-bottom: 10px;padding-bottom: 4px;padding-top: 4px;" [disabled]="isEnviarArquivo > 0" (click)="enviarArquivo()">
                        <i class="material-icons">send</i>
         </button>


        <p-table [value]="listaArquivos">
            <ng-template pTemplate="header">
                <tr>
                    <th width="120 ">#</th>
                    <th width="150 ">Data de Upload</th>
                    <th>Nome</th>
                    <th width="160 ">Status</th>
                    <th width="120 ">Qtd. Reg.</th>
                    <th width="160 ">Ações</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-arq>
                <tr>
                    <td>{{ arq.id }}</td>
                    <td>{{ arq.data | date: 'dd/MM/yyyy HH:mm' }}</td>
                    <td>{{ arq.nome }}</td>
                    <td>
                        <h5> <span class="badge badge-success" *ngIf="arq.processado">Processado</span></h5>
                        <h5><span class="badge badge-danger" *ngIf="!arq.processado">Não Processado</span></h5>
                    </td>
                    <td align="center">
                        <span *ngIf="!arq.processado > 0">0</span>
                        <span *ngIf="arq.processado > 0">{{ arq.quantidade }}</span>
                    </td>
                    <td align="center">
                        <button type="button" class="btn sec btn-sm btn-link text-success" pTooltip="Processar Arquivo" tooltipPosition="top">
                            <i class="material-icons">check_box</i>
                        </button>
                        <button type="button" class="btn sec btn-sm btn-link text-danger" pTooltip="Deletar Arquivo" tooltipPosition="top" (click)="delete(arq.id)">
                            <i class="material-icons">delete</i>
                        </button>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</section>